<div class="parent">
    <div class="left">
        <h6 routerLink="interpolation">interpolation</h6>
        <h6 routerLink="event-binding">event binding</h6>
        <h6 routerLink="twowaybinding">two way component</h6>
        <h6 routerLink="calculator">calculator</h6>
        <h6 routerLink="rectangle">rectangle</h6>
        <h6 routerLink="square">square</h6>
        <h6 routerLink="power">power</h6>
        <h6 routerLink="event-registation">event-registation</h6>
        <h6 routerLink="employee-registration">Employee-registration</h6>
        <h6 routerLink="cart">cart</h6>
        <h6 routerLink="pipes">pipes</h6>
        <h6 routerLink="cars">cars</h6>
        <h6 routerLink="star">star</h6>
        <h6 routerLink="gpay">gpay</h6>
        <h6 routerLink="bank">bank</h6>
        <button routerLink="/login">login</button>
    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
</div>